In [2]:
#1Q
"""
the two values of data types are true and false and we write them as
True , False
"""

'\nthe two values of data types are true and false and we write them as\nTrue , Fasle\n'

In [4]:
#2Q
'''
the three different types of boolean opeartors are
and , or , not
'''

'\nthe three different types of boolean opeartors are\nand , or , not\n'

In [6]:
#3Q
#and truth table
'''
expression True ,True evaluates to True
expression False ,True evaluates to False
expression True ,False evaluates to False
expression False ,False evaluates to False
'''

'\nexpression True ,True evaluates to True\nexpression False ,True evaluates to False\nexpression True ,False evaluates to False\nexpression False ,False evaluates to False\n'

In [7]:
#3Q
#or truth table
'''
expression True ,True evaluates to True
expression False ,True evaluates to True
expression True ,False evaluates to True
expression False ,False evaluates to False
'''

'\nexpression True ,True evaluates to True\nexpression False ,True evaluates to True\nexpression True ,False evaluates to True\nexpression False ,False evaluates to False\n'

In [8]:
#3Q
#not truth table
'''
expression not True evaluates to False
expression not False evaluates to True
'''

'\nexpression not True evaluates to False\nexpression not False evaluates to True\n'

In [9]:
#4Q
'''
(5>4) and (3==5) is False
not(5>4) is False
(5>4) or (3==5) is True
not ((5>4)or(3==5)) is False
(True and True) and (True == False) is False
(not False) or (not True) is True
'''

'\n(5>4) and (3==5) is False\nnot(5>4) is False\n(5>4) or (3==5) is True\nnot ((5>4)or(3==5)) is False\n(True and True) and (True == False) is False\n(not False) or (not True) is True\n'

In [10]:
#5Q
'''the six comparsion operators are
> (greater than)
< (lesser than)
>= (greater than or equal to)
<= (lesser than or equal to)
== (equal to)
!= (not equal to)'''

'the six comparsion operators are\n> (greater than)\n< (lesser than)\n>= (greater than or equal to)\n<= (lesser than or equal to)\n== (equal to)\n!= (not equal to)'

In [12]:
#6Q
'''the equal to has two == sign and 
assignment operator has only one = sign'''

'the equal to has two == sign and \nassignment operator has only one = sign'

In [23]:
#6
#condition used for equal to and assignment operator
name = 'ravindra v'
if name == 'ravindra v':
    print("your name is correct")
else:
    print("your name is incorrect")

your name is correct

In [14]:
#7Q
'''print('ham')
    print('spam')
    print('spam')'''

"print('ham')\n    print('spam')\n    print('spam')"

In [26]:
#8Q
spam = 5
if spam == 1:
    print('hello')
elif spam == 2:
    print('howdy')
else:
    print("greetings!")

greetings!

In [17]:
#9Q
'''ctrl+c'''

'ctrl+c'

In [18]:
#10Q
'''a break statement immediately leaves the loop without rechecking the condition
a continue statement immediately jump back to the start of loop and rechecks the condition'''

'a break statement immediately leaves the loop without rechecking the condition\na continue statement immediately jump back to the start of loop and rechecks the condition'

In [19]:
#11Q
'''range(10) is called with 1 argument with loop that number of times
range(0,10) is called with 2 argument with starting integer and with ending integer
range(0,10,1) is called with 3 argument with starting integer and with ending integer and also step size'''

'range(10) is called with 1 argument with loop that number of times\nrange(0,10) is called with 2 argument with starting integer and with ending integer\nrange(0,10,1) is called with 3 argument with starting integer and with ending integer and also step size'

In [20]:
#12Q
#for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
#12Q
#while loop
i = 1
while i < 11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [22]:
#13Q
'''we call it by import statement
spam.bacon()'''

'we call it by import statement\nspam.bacon()'